{% extends 'index.html' %}

{% block content %}


<div class="container">


    <!-- Sidebar -->
    <nav class="sidenav p" style="width:220px;margin-top:120px;background-color:#ceebfd; display:flex;" " id="sidenav">


        <ul class="list-unstyled components"id="content" >

            <li class="active">
                <a href="{% url 'category' 2 %}" style= "color: black;" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Car parts</a>
            </li>
            <li>
                <a href="{% url 'category' 4 %}" style= "color: black;" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accessories</a>

            </li>
            <li>
                <a href="{% url 'category' 5 %}" style= "color: black;" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">tools</a>
            </li>
            <li>
                <a href="{% url 'category' 3 %}" style= "color: black;" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Engine Parts</a>
            </li>

        </ul></nav>
<div class="col-sm-8" style="margin-left:150px;">
    <h1>This months products</h1>
    <h4>Note that all products are subject to change, this is due to the stock availability from our suppliers, although,we always test our stock to ensure the highest quality for you.</h4>
    <table class="table table-bordered table-hover table-condensed">

    <!-- Search bar-->
        <thead>
         <tr>
                <th>Name</th>
                <th>category</th>
                <th>Description</th>
                <th>brand</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <!-- Product row(s) -->
            {% for product in all_products_list %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.category.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.brand}}</td>
                <td>&euro;{{product.price}}</td>
                <td>{{product.stock}}</td>
                {% if product.stock > 0 %}
                <td><a href="{% url 'add_cart' product.id %}" class="btn btn-default btn-xs">🛒</a></td>
                {% else %}
                <td>
                    <a href="{% url 'add_cart' product.id %}" class="btn btn-default btn-xs">
                        🛒
                    </a>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div></div></div>

{% endblock content %}